@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
  &::-webkit-scrollbar{
    display: none;
  }
}

$bg: rgb(16,16,16);

.header{
    height: 100px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;


    > img{
        height: 100%;
    }

    > div{
        flex: 1;
        margin-left: 4vmax;

        >a{
          margin: 2vmax;
          font-size: 1.3rem;
          font-weight: 100;
        }
    }

    > svg{
        color: white;
        font-size: 2rem;
        cursor: pointer;

        &:hover{
          color: rgb(192, 187, 187);
        }
    }
}

a{
  color: white;
  text-decoration: none;
}